<<<<<<< HEAD
@use '../utils/variables';

body {
    font-family: 'DM Sans', sans-serif ;
    font-size: 16px;
   
}

button {
    border: none;
    cursor: pointer;
}

a {
    text-decoration: none;
}
=======
@import "../utils/variables";

>>>>>>> main
