<<<<<<< HEAD
<<<<<<< HEAD
@use "../utils/variables";
=======
@import "../utils/variables";
>>>>>>> main
=======
@use "../utils/variables";
>>>>>>> 5fcf3b06e6050d16266744f685fdadc041797819

footer
{
    width: 100%;
    height: 877px;
<<<<<<< HEAD
<<<<<<< HEAD
    background-color: $lavender-blush;
=======
    background-color: var(--lavender-blush);
>>>>>>> main
=======
    background-color: $lavender-blush;
>>>>>>> 5fcf3b06e6050d16266744f685fdadc041797819
    margin: auto;

}

.footer-content
{
    &__contact
    {
        display: flex;
        font-weight: 700;
        font-size: 16px;
        color: var(--black);
        margin-left: 865px;
    }

    &__buttons
    {}

    &__icons
    {}

    &__rights
    {
        font-weight: 700;
        font-size: 16px;
    }

    &__titles
    {
        font-family: 'Titan One';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 34px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
    }

}

.contact__tel
{
    font-weight: 700;
    font-size: 16px;
    color: var(--redfont);
    text-decoration: none;
    padding-top: 20px;
    margin-left: 2px;
}

.contact__tel:hover
{
    transform: scale(1.05);
}

.low-line
{
    width: 100%;
    position: absolute;
    border-top: 1px solid #E1E1E1;
}