@use  "../variables";

.about {
    padding-top: 60px;
    text-align: center;
    background-color: $lavender-blush;
    /*border: 1px solid red;*/
    
    &__h2 {
        margin: 0;
        font-family: 'Titan One';
        font-weight: 400;
        font-size: 18px;
        text-transform: uppercase;
        color: $rosedark;
        &:hover {
            animation-name: letterspacing;
            animation-duration: 1500ms;
            animation-timing-function: ease-in-out;
            cursor: pointer;
        }
    }

    &__h1 {
        margin-top: 15px;
        margin-bottom: 32px;
        margin-left: auto;
        margin-right: auto;
        width: 200px;
        font-family: 'Titan One';
        font-weight: 400;
        font-size: 34px;
        letter-spacing: 0.04em;
        color: $redfont;
        text-transform: uppercase;
        &:hover {
            animation-name: letterspacing1;
            animation-duration: 1500ms;
            animation-timing-function: ease-in-out;
            cursor: pointer;
        }
    }

    &__image {
        margin: auto;
        width: 87.5%;   
    }

    &__img {
        width: 100%;
        transition-property: transform;
        &:hover {
            transform: rotate(360deg);
            transition-duration: 10000ms;
            transition-timing-function: linear;
        }
    }

    &__text {
        width: 100vw;
        padding-top: 40px;
        padding-left: 20px;
        padding-bottom: 40px;
        text-align: left;
        background-image: url(../images/3aboutbg.png);
        background-size: contain;
        background-repeat: no-repeat;
    }

    &__p {
        margin: 0;
        margin-bottom: 20px;
        padding-right: 60px;
        max-width: 480px;
        font-size: 12px;
        font-weight: 500;
        line-height: 1.62;
        color: $gray-pink;
        &--bold {
            color: $black;
        }
        &:hover {
            transform: scale(1.125);
        }
    }

    &__button {
        margin: 0;
        padding: 15px 37px;
        font-size: 14px;
        font-weight: 700;
        color: $redfont;
        background-color: $white;
        border-radius: 22px;
        &:hover {
            transform: scale(1.125);
            background-color: $rosebackground;
        }
    }

    &__svg {
        position: relative;
        top: 1px;
        margin-left: 15px;
        width: 8px;
        height: 11px;
        stroke: $redfont;
    }

}

@media screen and (min-width: 768px) {
    .about {
        padding-bottom: 60px;

        &__h2 {
            font-size: 26px;
        }

        &__h1 {
            margin-top: 16px;
            margin-bottom: 40px;
            width: 100%;
            font-size: 48px;
        }
       
        &__content {
            padding-left: 33px;
            padding-right: 33px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-image: url(../images/3aboutbg.png);
            background-size: contain;
            background-repeat: no-repeat;
        }

        &__image {
            margin-top: 0;
            margin-left: 0;
            margin-right: 32px;
            width: calc(50% - 16px);
        }

        &__text {
            width: 334px;
            padding: 0;
            background-image: none;
        }

        &__p {
            width: 334px;
            padding-right: 0;
            font-size: 14px;
            line-height: 1.76;
        }

        &__button {
            margin-top: 20px;
        }
    }
}

@media screen and (min-width: 1200px) {
    .about {

        &__container {
            margin: auto;
            max-width: 1200px;
        }

        &__h2 {
            font-size: 34px;
        }

        &__h1 {
            margin-top: 16px;
            margin-bottom: 60px;
            width: 100%;
            font-size: 58px;
        }

        &__content {
            padding-left: 16px;
            padding-right: 121px;
        }

        &__image {
            width: 501px;
        }

        &__text {
            margin-left: 60px;
            width: 463px;
        }

        &__p {
            margin-bottom: 32px;
            width: 463px;
            line-height: 1.94;
            letter-spacing: 0.04em;
            &--bold {
                font-size: 16px;
            }
        }
        
        &__button {
            margin: 0;
        }
    }    
}

@keyframes letterspacing {
    0%{
        letter-spacing: 0.5em;
    }
    100% {
        letter-spacing: 0em;
    }
}

@keyframes letterspacing1 {
    0%{
        letter-spacing: 0.4em;
    }
    100% {
        letter-spacing: 0.04em;
    }
}