@use "../variables";

.products {
    width: $width-responsive1200;
    margin: 0 auto;
}

.main-products-titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title1 {
        margin-top: 60px;
        margin-bottom: 15px;
        height: 34px;
        width: 280px;
        left: 460px;
        top: 725px;
        font-family: $font-title;
        font-size: 30px;
        font-weight: 400;
        line-height: 34px;
        letter-spacing: 0.04em;
        
        color: $rosedark;

    }

    .title2 {
        height: 66px;
        width: 394px;
        left: 403px;
        top: 775px;
        font-family: $font-title;
        font-size: 58px;
        font-weight: 400;
        line-height: 66px;
        letter-spacing: 0.06em;
        
        color: $redfont;
    }
}

@mixin content-profile {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 535px;
    width: 368px;
    left: 16px;
    top: 1122px;
    border-radius: 24px;
    margin-top: -133px;
}

@mixin content-title1 {
    height: 34px;
    width: 394px;
    left: 16px;
    top: 1287px;
    font-family: $font-title;
    font-size: 30px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0.04em;
    
    color: $white;
}

@mixin content-title2 {
    height: 30px;
    width: 30px;
    left: 206px;
    top: 1353px;
    border-radius: 0px;
    font-weight: 700;
    font-family: $font-title;
    font-size: 30px;
    color: $white;
}

@mixin content-p {
    height: 6px;
    height: 106px;
    width: 245px;
    left: 77px;
    top: 1391px;
    font-family: $font-general;
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.04em;
    
    color: $white;
}

@mixin content-icon {
    height: 40px;
    width: 38px;
    left: 180px;
    top: 1557px;
    border-radius: 0px;
}

.main-products {
    margin: auto 15px auto;
    margin-bottom:60px;

    &__cardsrow {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        

        .card {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            

            .top {
                
                height: 394px;
                width: 368px;
                left: 16px;
                top: 861px;
                border-radius: 0px;
                z-index: 1;
            }

            .content {
                transform: translateY(-20%);
                opacity: 0;
                overflow: hidden;
                @include content-profile;

                &--color1 {
                    background: $rosebackground;
                }

                &--color2 {
                    background: $ice-coffee;
                }

                &--color3 {
                    background: $ice-green;
                }

                .title1 {
                    margin-top:100px;
                    @include content-title1;
                }

                .title2 {
                    margin-top:-30px;
                    @include content-title2;
                }

                .p {
                    margin-top:-30px;
                    @include content-p;
                }

                .icon {
                    @include content-icon;
                }
            }
        }
    }
}

.main-products__cardsrow .card:hover {
        cursor: pointer;
        .content{
        transform:translateY(0);
        transition: $transition1;
        opacity: 1;
}
}


@media screen and (max-width:480px) {
    .main-products__cardsrow {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width:768px) and (max-width:960px){
    .main-products {
        margin:auto 15px auto; 
        margin-bottom: 60px;

        &__cardsrow {
            // margin:0 16px;
            // padding:0 15px; 
            .card {
                 
                width: calc(33% - 8px); 
                
                .top {
                    max-width: 100%;
                }
                .content {
                    margin-top:-100%;
                    max-width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    gap:32px;
                .title1{
                    margin-top:128px;
                    font-size: clamp(0.5rem,4vw + 1rem, 1rem);
                    margin-bottom:32px;
                    
                }
                .title2{
                    font-size: clamp(0.5rem,4vw + 1rem, 1rem);
                    margin-bottom:32px;
                }
                .p{ 
                    padding: 0 15px 0 15px;
                    font-size: clamp(0.5rem,4vw + 1rem, 1rem);
                    width: 100%;
                }
                }
            }
        }
    }
    .iceimg{
        max-width: 100%;
    }
}