@use "../variables";

.container {
    padding: 60px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.review {
    position: relative;
    max-width: 968px;
    width: 100%;
    padding: 0;
    overflow: hidden;
}


.review .slide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 63px;
}

.slide p {
    margin-bottom: 16px;
    width: 100%;
    background-color: $shade-ofgray;
    text-align: center;
    padding: 0 90px;
    padding-bottom: 26px;
    padding-top: 16px;
    font-size: 12px;
    font-weight: 500;
    line-height: 186%;
    letter-spacing: 0.04em;
    text-decoration: underline 1px solid $light-silvercolor;
}

span,
h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 186%;
    margin-bottom:20px;
    margin-top: 8px;
}

/*swiper btn css*/
.nav-btn {
    width: 40px;
    height: 40px;
    color: $swiper-color;
    transform: rotateY(380deg);
    transition: all 2s;
    &:focus,
    &:active {
        outline: none;

    }

}

.nav-btn::before,
.nav-btn::after {
    font-size: 30px;
}

.swiper-pagination-bullet {
    background-color: $swiper-color;
}

.swiper-pagination-bullet-active {
    background-color: $redfont;
}

.review-icon {
    width: 54px;
    height: 40px;
    fill: $light-silvercolor;
    animation: animate-comillas 3000ms infinite 1000ms;
}

.review-iconn {
    margin: 0;
    width: 54px;
    height: 10px;
}


@keyframes animate-comillas {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-180deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@media screen and (max-width: 768px) {
    .nav-btn {
        display: none;
    }
}


@media screen and (min-width: 768px) {
    .slide p {
        font-size: 14px;
    }

    .review {
        padding: 0px 54px;
    }

}


@media screen and (min-width: 1200px) {
    .container {
        padding: 120px 20px;
        max-width: 1200px;
        margin: auto;
    }

    .review {
        padding: 0 96px;

    }

    .slide p {
        font-size: 16px;
    }

    span,
    h3 {
        margin-bottom:30px;
        margin-top: 12px;
    }   
}