//variables

$rosebackground: #FFB8CA;
$rosedark: #FFA5BA;
$redfont: #D41443;
$white: #ffffff;
$black: #000000;
$coloricecoffe: #F0D1A5;
$colorgreen: #C2E297;
$lavender-blush: #FFF5F6;
$gray-pink: #907E82;
$light-silvercolor: #E1E1E1;

//fonts
$font-general: DM Sans;
$font-title: Titan One;
$font-weight-general: 700;
$font-weight-medium: 500;
$font-weight-little: 400;

//width and height

$width-responsive1200: max-width(1200px);
$width-responsive768: max-width(768px);
$width-responsive480: max-width(480px);