<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 5fcf3b06e6050d16266744f685fdadc041797819
//color
    $rosebackground: #FFB8CA;
    $rosedark: #FFA5BA;
    $rosedarkbackground: #E17992;
<<<<<<< HEAD
=======
//variables

    $rosebackground: #FFB8CA;
    $rosedark: #FFA5BA;
>>>>>>> main
=======
>>>>>>> 5fcf3b06e6050d16266744f685fdadc041797819
    $redfont: #D41443;
    $white: #ffffff;
    $black: #000000;
    $coloricecoffe: #F0D1A5;
    $colorgreen: #C2E297;
    $lavender-blush: #FFF5F6;
    $gray-pink:#907E82;

//fonts
    $font-general:DM Sans;
    $font-title:Titan One;
    $font-weight-general:700;
    $font-weight-medium:500;
    $font-weight-little:400;

<<<<<<< HEAD
<<<<<<< HEAD
//responsive width and height
=======
//width and height

>>>>>>> main
=======
//responsive width and height
>>>>>>> 5fcf3b06e6050d16266744f685fdadc041797819
    $width-responsive1200:max-width(1200px);
    $width-responsive768:max-width(768px);
    $width-responsive480:max-width(480px);
    
<<<<<<< HEAD
<<<<<<< HEAD
//transitions
    $transition1: 250ms cubic-bezier(.4, 0, .2, 1);
=======

>>>>>>> main
=======
//transitions
    $transition1: 250ms cubic-bezier(.4, 0, .2, 1);
>>>>>>> 5fcf3b06e6050d16266744f685fdadc041797819

